body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.border-container {
    display: flex;
    justify-content: center;
}

.border-container > div {
    width: 20%;
    padding: 20px;
    margin: 20px;
}

.border1 {
    border: 5px solid blue;
    border-left-style: dotted;
    border-right-style: dashed;
    font-weight: 400;
}

.border2 {
    border: 5px solid green;
    border-left-style: dashed;
    border-right-style: dotted;
}

.border3 {
    border: 5px solid red;
    border-left-style: dotted;
    border-right-style: dashed;
}

.border4 {
    border: 5px solid orange;
    border-left-style: dashed;
    border-right-style: dotted;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}